body{
    width: 1200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
   list-style-type: none;
}

/* Контейнер */
.container{
    width: 800px;
    margin: 0 100px 0 100px;
}

/*Шапка*/

.haeder-container{
    margin: 50px 110px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

/* Звезды */

.header-starGroup{
    box-sizing: border-box;
}

.star1, .star2{
    width: 1em;
    position: absolute;
}